<%- include("templates/header",{tituloWeb: "crear producto" }); %>

    <body>
        <form action="/insert" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"><br>

            <label for="precio">precio</label>
            <input type="text" name="precio" id="precio"><br>

            <label for="descripcion">descripcion</label>
            <input type="text" name="descripcion" id="descripcion"><br>

            <input type="submit" value="INSERTAR">
        </form>
    </body>

    </html>